#argon2-cffi==21.3.0
#argon2-cffi-bindings==21.2.0
#asgiref @ file:///tmp/build/80754af9/asgiref_1625643473416/work
bcrypt==3.2.2
beautifulsoup4==4.11.1
#certifi @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_83242e7e-f82d-4a71-8ef2-9d71d212d249gu_wxmeq/croots/recipe/certifi_1655968827803/work/certifi
cffi==1.15.0
dj-database-url==0.5.0
#Django @ file:///tmp/build/80754af9/django_1625585912945/work
django-bootstrap4==22.1
django-braces==1.15.0
django-heroku==0.3.1
Faker==13.14.0
misaka==2.1.1
Pillow==9.1.1
#psycopg2 @ file:///Users/builder/ci_310/psycopg2_1642535040511/work
pycparser==2.21
python-dateutil==2.8.2
pytz==2022.1
#pytz @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_1caf090c-01b6-4973-adac-d2eb884a674e7zonb9eb/croots/recipe/pytz_1654762641285/work
six==1.16.0
soupsieve==2.3.2.post1
sqlparse==0.4.1
#sqlparse @ file:///tmp/build/80754af9/sqlparse_1602184451250/work
typing_extensions==4.3.0
#typing_extensions @ file:///opt/conda/conda-bld/typing_extensions_1647553014482/work
whitenoise==6.2.0
